services:
    nginx:
        container_name: nginx
        image: nginx:inception-1.0
        build:
            context: ./requirements/nginx
        volumes:
            - wordpress_data:/var/www/html
        ports:
            - "${NGINX_PORT}:443"
        networks:
            - inception
        depends_on:
            - wordpress
        restart: always

    mariadb:
        container_name: mariadb
        image: mariadb:inception-1.0
        build:
            context: .
            dockerfile: requirements/mariadb/Dockerfile
        volumes:
            - mariadb_data:/var/lib/mysql
        networks:
            - inception
        env_file:
            - .env
        secrets:
            - db_root_password
            - db_user_password
            - db_second_password
        restart: always

    wordpress:
        container_name: wordpress
        image: wordpress:inception-1.0
        build:
            context: ./requirements/wordpress
        volumes:
            - wordpress_data:/var/www/html
        networks:
            - inception
        env_file:
            - .env
        secrets:
            - db_user_password
            - wp_admin_password
            - wp_second_password
        depends_on:
            - mariadb
        restart: always

secrets:
    db_root_password:
        file: ../secrets/db_root_password.txt
    db_user_password:
        file: ../secrets/db_user_password.txt
    db_second_password:
        file: ../secrets/db_second_password.txt
    wp_admin_password:
        file: ../secrets/wp_admin_password.txt
    wp_second_password:
        file: ../secrets/wp_second_password.txt

networks:
    inception:
        driver: bridge

volumes:
    wordpress_data:
        driver: local
        driver_opts:
            type: none
            device: ${DATA_DIR:-/home/serferna/data}/wordpress
            o: bind

    mariadb_data:
        driver: local
        driver_opts:
            type: none
            device: ${DATA_DIR:-/home/serferna/data}/mariadb
            o: bind
