services:
    nginx:
        build: ./requirements/nginx
        container_name: nginx
        ports:
            - "443:443"
        volumes:
            - wp-data:/var/www/html
        networks:
            - inception-network
        depends_on:
            - wordpress
        restart: unless-stopped
        env_file:
            - .env

    wordpress:
        build: ./requirements/wordpress
        container_name: wordpress
        volumes:
            - wp-data:/var/www/html
        networks:
            - inception-network
        depends_on:
            - mariadb
        restart: unless-stopped
        env_file:
            - .env

    mariadb:
        build: ./requirements/mariadb
        container_name: mariadb
        volumes:
            - db-data:/var/lib/mysql
        networks:
            - inception-network
        restart: unless-stopped
        env_file:
            - .env

volumes:
    wp-data:
        driver: local
        driver_opts:
            type: none
            o: bind
            device: /home/${USER}/data/wordpress
    db-data:
        driver: local
        driver_opts:
            type: none
            o: bind
            device: /home/${USER}/data/mariadb

networks:
    inception-network:
        driver: bridge
